<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dxr.compass" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Bompass"
		android:theme="@android:style/Theme.Holo.Light.NoActionBar.TranslucentDecor">
	<meta-data
		android:name="android.max_aspect"
		android:value="2.5"/>
        <activity
            android:name=".MainActivity"
            android:label="Bompass" 
			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
